* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  margin: 0;
  padding: 0;
}

::selection {
  background: #ffb7b7;
}

::-moz-selection {
  background: #ffb7b7;
}

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import '~bulma';
