.Header {
  padding: 2em 1em 1em;
}

.title {
  font-size: 1.5em;
  color: #287fc9;

  &:hover {
    cursor: pointer;
    border-bottom: 2px double #00d1b2;
  }
}

.item {
  font-size: 1.5em;
  color: black;

  &:visited {
    color: black;
  }
}

